# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Logs
*.log

# VSCode settings (optional)
.vscode/

# Mac OS files (if applicable)
.DS_Store
